@import url('https://fonts.googleapis.com/css?family=Aldrich|Courier+Prime&display=swap');
body {
     max-width: 980px;
     margin: auto;
}
}
header div.logo {
    display: flex;
    width: 500px;
    height: 300px;
    border: 1px solid grey;
}
header div .image-center {
    display: flex;
    margin: auto;
}

header nav .main-menu {
    display: flex;
    list-style:none;
    align-items: center;
    font-family:'Courier Prime', monospace; 
    justify-content: space-around;
}
header nav .main-menu a{
    text-decoration:none;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: black;
    padding: 10px;
}
header nav .main-menu a:hover {
    border: 1px solid #B8D6A4;
    
}
}
main div.banner h1 {
    font-family: 'Aldrich', sans-serif;
    font-size:30px;
}
main div.banner h2 {
    font-size: 5rem;
    font-family:'Courier Prime', monospace;
}
@media (min-width: 600px) {
    header nav {
        display: flex;
        align-items:center;
    }
}
header .main-menu {
    flex: 1;
}
main hr {
    width: 511 px;
    height: 2 px;
    color:#B8D6A4;
}
main div.banner {
    background-image: url(../img/organic-photography.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}