@import url('https://fonts.googleapis.com/css?family=Aldrich|Courier+Prime&display=swap');
body {
     max-width: 980px;
     margin: auto;
}
}
header div.logo {
    display: flex;
    width: 500px;
    height: 300px;
    border: 1px solid grey;
}
header div .image-center {
    display: flex;
    margin: auto;
}

header nav .main-menu {
    display: flex;
    list-style:none;
    align-items: center;
    font-family:'Courier Prime', monospace; 
    justify-content: space-around;
}
header nav .main-menu a{
    text-decoration:none;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: black;
    padding: 10px;
}
header nav .main-menu a:hover {
    border: 1px solid #B8D6A4;
    
}


@media (min-width: 600px) {
    header nav {
        display: flex;
        align-items:center;
    }
}
body {
    max-width: 980px;
    margin: auto;
}
header .main-menu {
    flex: 1;
}
header p.head {
    font-family: 'Aldrich', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 1em;
}
header p {
    font-size: 20px;
    font-family:'Courier Prime', monospace;
    text-align: center;
    margin-top: 49px;
}
header hr {
    color:#B8D6A4;
    margin-block-start: 2em;
    margin-block-end: 2em;
    width: 850px;
    height: 2px;
}
.catalog article {
    padding: 5px;
    text-align: center;
     font-family: 'Aldrich', sans-serif;
}
.catalog aricle p {
    text-align: left;
}
.catalog article img {
    width: 100%;
    display: block;
}
.catalog article button {
    font-family:'Courier Prime', monospace;
    font-size: 20px;
    background-color: #B8D6A4;
}
.catalog article button a {
    text-decoration: none;
    color:black;
    background-color: #B8D6A4;
}
@media (min-width: 500px) {
    .catalog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 980px) {
    .catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer {
    background-image: url(../img/organic-photography.jpg);
    opacity: 60%;
    background-position: center;
    background-size: cover;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display:flex;
    margin-top: 30px;
}
footer p.email {
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}
footer p.phone {
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}
